<!-- Kaitlyn -->
<!DOCTYPE html>
<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap/css/cdb.min.css" />
		<script src="https://cdn.jsdelivr.net/npm/cdbootstrap/js/cdb.min.js"></script>

		<title>BugEyes</title>
	</head>
	<body>
		<div class="container py-4">
		<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">BugEyes</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarScroll">
				<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
					<li class="nav-item">
					<a class="nav-link active" aria-current="page" href=".">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/log">Logs</a>
					</li>
				</ul>
				</div>
			</div>
		</nav>
		<div class="p-5 mb-4 bg-body-tertiary rounded-3">
			<div class="container-fluid py-5">
			  <h1 class="display-5 fw-bold">Welcome User</h1>
			</div>
		</div>
		<div class="row align-items-md-stretch">
			<div class="col-md-6">
			  <div class="h-100 p-5 text-bg-dark rounded-3">
				<h2>Latest Bug Log</h2>
				{% for c in content %}
					<div>
						<video width="100%" height="240" controls>
						<source src="{{ url_for('static', filename=c)}}" type="video/mp4">
						Your browser does not support the video tag.
						</video>
						<p>{{c}}</p>
					</div>
				{% endfor %}
				<a class="btn btn-outline-light" type="button" href="/log">See All</a>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="h-100 p-5 bg-body-tertiary border rounded-3">
				<h2>Stats</h2>
				<canvas id="chart"></canvas>
			  </div>
			</div>
		  </div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<script>
			const ctx = document.getElementById("chart").getContext('2d');
				const myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: {{times|safe}},
					datasets: [{
						label: 'bug_count',
						backgroundColor: 'rgba(138, 234, 146, .5)',
						borderColor: 'rgb(138, 234, 146)',
						data: {{bug_count|safe}},
					},
					{
						label: 'humidity',
						backgroundColor: 'rgba(252, 176, 126, .5)',
						borderColor: 'rgb(252, 176, 126)',
						data: {{humidity|safe}},
					},
					{
						label: 'temperature',
						backgroundColor: 'rgba(161, 198, 247, .5',
						borderColor: 'rgb(47, 128, 237)',
						data: {{temperature|safe}},
					}]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true,
							}
						}]
					}
				},
				});
			</script>
	</body>

</html>
